
header {
  --base-color:255;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background: rgb(var(--base-color),var(--base-color),var(--base-color));
  background: linear-gradient(
    180deg,
    rgba(var(--base-color),var(--base-color),var(--base-color), 1) 0%,
    rgba(calc(var(--base-color) - 40), calc(var(--base-color) - 15) ,var(--base-color), 1) 69%,
    rgba(calc(var(--base-color) - 53), calc(var(--base-color) - 29), calc(var(--base-color) - 23), 1) 100%
  );
  min-height: 88px;
}

.logo {
  position: relative;
  & img{
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    filter: grayscale(0.5);
    transition: .5s;

    &::after{
      content:' ';
      position: absolute;
      opacity: 1;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      // transition: .5s;
      background: url('../../assets/me2imporoved.jpg');
    }

    &:hover{
      opacity: 0;
    }
    &:hover::after{
      scale:6;
      opacity: 1;
    }
  }
}

nav {
  display: flex;
  gap: 1rem;
}

@media (prefers-color-scheme: dark) {
  header{
    --base-color:35;
  }
}

@media (max-width:500px){
  header{
    flex-direction: column;
    gap:1rem;
  }
}