a {
  text-decoration: none;

  &:hover {
    color: red;
  }
}

.active {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  a {
    color: azure;
    &:visited {
      color: #c383ff;
    }
  }
}
