a {
  text-decoration: none;
  position: relative;
  font-family: 'Manrope', sans-serif;

  &:hover {
    color: red;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #c383ff;
    opacity: 0;
    transition:  300ms;
  }
}

.active{
  font-weight: 900;
  &::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }
}

// .active {
//   text-decoration: underline;
// }

@media (prefers-color-scheme: dark) {
  a {
    color: azure;
    &:visited {
      color: #c383ff;
    }
  }
}
