<main>
  <h1 class="mat-headline-3">Contact Me!</h1>
  <form
    [formGroup]="_contact.contactForm"
    (ngSubmit)="_contact.handleContactFormSubmitted()"
  >
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" autocomplete="email" />
      <mat-error>Please enter a valid email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" autocomplete="given-name" />
      <mat-error
        *ngIf="_contact.contactForm.controls.firstName.getError('required')"
      >
        Please enter a valid name
      </mat-error>
      <mat-error
        *ngIf="_contact.contactForm.controls.firstName.getError('pattern')"
      >
        Name can only contain letters
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" autocomplete="family-name" />
      <mat-error
        *ngIf="_contact.contactForm.controls.lastName.getError('required')"
      >
        Please enter a valid name
      </mat-error>
      <mat-error
        *ngIf="_contact.contactForm.controls.lastName.getError('pattern')"
      >
        Name can only contain letters
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone" autocomplete="tel" />
      <mat-error>Please enter a valid phone number</mat-error>
    </mat-form-field>
    <button type="submit" color="primary" mat-raised-button>Submit</button>

      <div class="form-conclusion-wrapper" *ngIf="_contact.isFormSubmittedSuccessfully$ | async">
        <mat-spinner
          *ngIf="
            !(_contact.isRequestSuccessfullySent$ | async);
            else successBlock
          "
          color="primary"
        ></mat-spinner>
        <ng-template #successBlock>
          <h1>Form Submitted Successfully!</h1>
        </ng-template>
      </div>

  </form>
</main>
