<section>
	<h1 class="mat-headline-3">About Me</h1>
  <mat-divider></mat-divider>
  <p class="mat-body-2">
    Experienced developer adept in all stages of web development, bringing forth
    knowledge of design, installation, testing and maintenance of web systems.
  </p>

  <p>
    Have personally setup a CI/CD workflow, using Github Actions and Cloudflare
    Pages that serve a PWA with a Service Worker, so to allow rolling updates.
  </p>

  <p>
    My day to day work involves <b>Angular</b>, <b>Node.js</b> + <b>Express</b> and middlewares,
    managing dependencies, and working with <b>SQL Server</b>.
  </p>

  <p>
    As a freelancer, I partake in providing services to a main client with
    Wordpress and CSS.
  </p>

  <p>
    Naturally curious, I love to improve and perfect designs, while being aware
    and adjusting to schedules and deadlines. Able to self manage and work
    effectively and efficiently in a team setting.
  </p>
</section>
