<main>
  <header>
    <h1 class="main-title">Experience</h1>
  </header>
  <mat-divider></mat-divider>
  <section>
    <h4 class="mat-headline-5">
      Full Stack Developer , Mobility Software Solutions, Petah Tiqwa
    </h4>
    <p class="subtitle mat-small">2022 - present</p>
    <section>
      <h5 class="mat-headline-6">
        Single lead responsibility for fullstack development, with a strong
        focus on frontend.
      </h5>

      <p>
        Successfully translated business requirements into responsive and styled
        software, seamlessly balancing ongoing workload and efficiently updating
        existing legacy code.
      </p>

      <p>
        Identified the need for offline capabilities and app-like behavior,
        driving the initiative to implement a Service Worker in an existing app.
        Resulted in a 30% increase in user engagement and a 25% reduction in
        bounce rate.
      </p>

      <p>
        Optimized algorithms and search functionalities, resulting in a
        significant improvement in performance and user experience.
      </p>

      <p>
        Streamlined processes and minimized downtime by integrating a
        cost-effective CI/CD workflow using Github Actions and Cloudflare Pages,
        resulting in substantial hosting cost savings for the company.
      </p>
    </section>
  </section>
  <section>
    <h4 class="mat-headline-5">Frontend Developer, Freelancer</h4>
    <p class="subtitle mat-small">feb 2022 - present</p>
    <section>
      <h5 class="mat-headline-5">
        Working on numerous projects, and contributing to open source repos on
        Github.
      </h5>

      <p>
        Successfully identified, diagnosed, and fixed website problems,
        including broken links, typographical errors, and formatting issues.
        Remained knowledgeable in new standards, technologies, and trends in
        website development.
      </p>
    </section>
  </section>
  <section>
    <h4 class="mat-headline-5">Links</h4>
    <div class="image-wrapper">
      <a href="https://github.com/RonStrauss" target="_blank">
        <img
          role="button"
          class="github"
          src="../../../assets/github.svg"
          alt="github"
        />
      </a>
      <a href="https://linkedin.com/in/ronstrauss-webdev" target="_blank">
        <img
          role="button"
          class="linkedin"
          src="../../../assets/Linkedin_icon.svg"
          alt="linkedin"
        />
      </a>
    </div>
  </section>
</main>
