<main>
  <header>
    <h1 class="mat-headline-3">Experience</h1>
  </header>
  <mat-divider></mat-divider>
  <section>
    <h4 class="mat-headline-5">Full Stack Developer , Mobility Software Solutions, Petah Tiqwa</h4>
    <p class="subtitle mat-small">2022 - present</p>
    <section>
      <h5 class="mat-headline-6">
        Single lead responsibility for fullstack development, with a strong
        focus on frontend.
      </h5>

      <ul>
        <li>
          Successfully translated business requirements into responsive and
          styled software, seamlessly balancing ongoing workload and efficiently
          updating existing legacy code.
        </li>
        <li>
          Identified the need for offline capabilities and app-like behavior,
          driving the initiative to implement a Service Worker in an existing
          app. Resulted in a 30% increase in user engagement and a 25% reduction
          in bounce rate.
        </li>
        <li>
          Optimized algorithms and search functionalities, resulting in a
          significant improvement in performance and user experience.
        </li>
        <li>
          Streamlined processes and minimized downtime by integrating a
          cost-effective CI/CD workflow using Github Actions and Cloudflare
          Pages, resulting in substantial hosting cost savings for the company.
        </li>
      </ul>
    </section>
  </section>
  <section>
    <h4 class="mat-headline-5">Frontend Developer, Freelancer</h4>
    <p class="subtitle mat-small">feb 2022 - present</p>
    <section>
      <h5 class="mat-headline-5">
        Working on numerous projects, and contributing to open source repos on
        Github.
      </h5>

      <ul>
        <li>
          Successfully identified, diagnosed, and fixed website problems,
          including broken links, typographical errors, and formatting issues.
        </li>
        <li>
          Remained knowledgeable in new standards, technologies, and trends in
          website development.
        </li>
      </ul>
    </section>
  </section>
  <section>
    <h4 class="mat-headline-5">Links</h4>
    <div class="list">
      <a class="mat-headline-6" target="_blank" href="https://github.com/RonStrauss">Github</a>
      <a class="mat-headline-6" target="_blank" href="https://www.linkedin.com/in/ronstrauss-webdev">Linkedin</a>
	 </div>
  </section>
</main>
