/* You can add global styles to this file, and also import other style files */
*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-headline-3, .mat-typography .mat-headline-3 {
  margin: 64px;
}

@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: white;
  }
}
